<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="setDetails">{{setDetails.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-img src="{{logoUrl}}"></ion-img>
  </ion-row>
      <ion-item>
        <ion-label>
          Name: 
        </ion-label>
        <ion-label>
          {{name}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Release Date: 
        </ion-label>
        <ion-label>
          {{releaseDate}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Number of Cards: 
        </ion-label>
        <ion-label>
          {{totalNumberOfCards}}
        </ion-label>
      </ion-item>
      <ion-row>
       <ion-list>
         <ion-item *ngFor="let card of cardsInSet" class="ion-justify-content-center">
           {{card.name}}
         </ion-item>
       </ion-list>
      </ion-row>
</ion-grid>
</ion-content>
