<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="setDetails">{{setDetails.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-img src="{{logoUrl}}"></ion-img>
  </ion-row>
      <ion-item>
        <ion-label>
          Name: 
        </ion-label>
        <ion-label>
          {{name}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Release Date: 
        </ion-label>
        <ion-label>
          {{releaseDate}}
        </ion-label>
      </ion-item>
</ion-grid>
</ion-content>
