<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Adams Pokemon App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item *ngIf="loading">Fetching Cards...</ion-item>
      <ion-item *ngIf="errorMessage">{{errorMessage}}</ion-item>
      <ion-item *ngIf="cardSets">
        <ion-label>Choose a Set</ion-label>
        <ion-select placeholder="Choose Set" (ionChange)="onChange($event)">
          <ion-select-option *ngFor="let set of cardSets" value="{{set.code}}" >{{set.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col [hidden]="!selectedSet">
          <ion-button  (click)="navigateSetDetails()">
            Show me the cards
          </ion-button>
        </ion-col>
        <ion-col [hidden]="!favourites">
          <ion-button (click)="goToFavourites()">
            View Favourites
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


  </div>
</ion-content>
