<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item *ngIf="loading">Fetching Cards...</ion-item>
      <ion-item *ngIf="cardSets">
        <ion-select placeholder="Choose Set">
          <ion-select-option *ngFor="let set of cardSets">{{set.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
