<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item *ngIf="loading">Fetching Cards...</ion-item>
      <ion-item *ngIf="cardSets">
        <ion-label>Choose a Set</ion-label>
        <ion-select placeholder="Choose Set" (ionChange)="onChange($event)">
          <ion-select-option *ngFor="let set of cardSets" value="{{set.code}}" >{{set.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    
<ion-button [hidden]="!selectedSet" (click)="navigateSetDetails()">
  Show me the cards
</ion-button>
  </div>
</ion-content>
